// define params
params.normal = ""
params.docker_image = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fz0KxFj4KB7fxxZ06vy2B2P3"
params.tumour = ""
params.reference = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fy4gjFj41zgGjKJ85FYYPX4q"
params.simrep = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fz0Q2GQ41zgB8BK7143y65Q1"
params.genes = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-FybyxV841zgB8v1y3fFbFB0G"
params.unmatched = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fz8Q0vj41zg6j03fP1vbvfFp"
params.filter = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fz8xvQj41zgGg10ZJzx8Qz53"

// Other Parameters
params.cgppindel_id = "cb44a611a143"
params.assembly = 'GRCh38' //
params.seqtype = 'TG' // 
params.species = 'Human'

//machine type
process {
    withName:CGPPINDEL {
        machineType = 'mem3_ssd1_v2_x4'
  }
}

//parallel run ??
executor {
    queueSize = 99
}

