// define params
params.normal = ""
params.docker_image = ""
params.tumour = ""
params.reference =""
params.simrep =""
params.genes = ""
params.unmatched = ""
params.filter = ""

// Other Parameters
params.cgppindel_id = "cb44a611a143"
params.assembly = 'GRCh38' //
params.seqtype = 'TG' // 
params.species = 'Human'

//machine type
process {
    withName:CGPPINDEL {
        machineType = 'mem3_ssd1_v2_x4'
  }
}

//parallel run ??
executor {
    queueSize = 99
}

